---
http_interactions:
- request:
    method: get
    uri: https://api.open5e.com/monsters/?type=Dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Do-App-Origin:
      - c12d71e9-9d94-4a56-a335-8e614fe33195
      X-Do-Orig-Status:
      - '200'
      Last-Modified:
      - Fri, 19 May 2023 13:55:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"count":98,"next":"https://api.open5e.com/monsters/?page=2&type=Dragon","previous":null,"results":[{"slug":"adult-amethyst-dragon-a5e","name":"Adult
        Amethyst Dragon","size":"Huge","type":"Dragon","subtype":"","group":null,"alignment":"","armor_class":18,"armor_desc":"","hit_points":220,"hit_dice":"21d12+84","speed":{"walk":40,"burrow":30,"fly":60},"strength":18,"dexterity":20,"constitution":18,"intelligence":22,"wisdom":14,"charisma":20,"strength_save":null,"dexterity_save":null,"constitution_save":10,"intelligence_save":12,"wisdom_save":8,"charisma_save":11,"perception":null,"skills":{},"damage_vulnerabilities":"","damage_resistances":"force,
        psychic","damage_immunities":"","condition_immunities":"fatigue","senses":"darkvision
        120 ft., passive Perception 18","languages":"Common, Deep Speech, Draconic,
        Undercommon, telepathy 120 ft.","challenge_rating":"17","cr":17.0,"actions":[{"name":"Multiattack","desc":"The
        dragon attacks once with its bite and twice with its claws. In place of its
        bite  it can use Psionic Wave."},{"name":"Bite","desc":"Melee Weapon Attack:
        +10 to hit  reach 10 ft.  one target. Hit: 20 (3d10 + 4) piercing damage plus
        4 (1d8) force damage."},{"name":"Claws","desc":"Melee Weapon Attack: +10 to
        hit  reach 5 ft.  one target. Hit: 17 (3d8 + 4) slashing damage."},{"name":"Psionic
        Wave","desc":"The dragon psionically emits a wave of crushing mental pressure.
        Each creature within 20 feet makes a DC 19 Wisdom saving throw  taking 16
        (3d10) psychic damage on a failed save or half damage on a success. Creatures
        charmed by the dragon make this saving throw with disadvantage."},{"name":"Concussive
        Breath (Recharge 5-6)","desc":"The dragon psionically unleashes telekinetic
        energy in a 60-foot cone. Each creature in that area makes a DC 18 Constitution
        saving throw  taking 60 (11d10) force damage on a failed save or half damage
        on a success."}],"reactions":[{"name":"Assume Control (While Bloodied)","desc":"When
        a creature charmed by the dragon begins its turn, the dragon telepathically
        commands the charmed creature until the end of the creatures turn. If the
        dragon commands the creature to take an action that would harm itself or an
        ally, the creature makes a DC 19 Wisdom saving throw. On a success, the creatures
        turn immediately ends."}],"legendary_desc":"","legendary_actions":[{"name":"The
        dragon can take 3 legendary actions","desc":"Only one legendary action can
        be used at a time and only at the end of another creatures turn. It regains
        spent legendary actions at the start of its turn."},{"name":"Charm","desc":"The
        dragon targets a creature within 60 feet, forcing it to make a DC 16 Wisdom
        saving throw. On a failure, the creature is charmed by the dragon for 24 hours,
        regarding it as a trusted friend to be heeded and protected. Although it isnt
        under the dragons control, it takes the dragons requests or actions in the
        most favorable way it can. At the end of each of the targets turns and at
        the end of any turn during which the dragon or its companions harmed the target,
        it repeats the saving throw, ending the effect on a success."},{"name":"Stupefy","desc":"The
        dragon targets a creature within 60 feet. If the target is concentrating on
        a spell, it must make a DC 19 Constitution saving throw or lose concentration."},{"name":"Psionic
        Wave (Costs 2 Actions)","desc":"The dragon uses Psionic Wave."},{"name":"Captivating
        Harmonics (1/Day)","desc":"Each creature of the dragons choice within 90 feet
        makes a DC 16 Wisdom saving throw. On a failure, it becomes psionically charmed
        by the dragon for 1 minute. A creature repeats the saving throw at the end
        of each of its turns, ending the effect on itself on a success."}],"special_abilities":[{"name":"Legendary
        Resistance (3/Day)","desc":"When the dragon fails a saving throw, it can choose
        to succeed instead. When it does, its scales dull briefly, and it can''t use
        telepathy or psionic abilities until the end of its next turn."},{"name":"Psionic
        Powers","desc":"The dragons psionic abilities are considered both magical
        and psionic."},{"name":"Far Thoughts","desc":"The dragon is aware of any creature
        that uses a psionic ability or communicates telepathically within 100 miles
        of it. As an action, the dragon can psionically observe a creature, object,
        or location it is familiar with within 100 miles. While observing a subject
        in this way, the dragon can see, hear, and communicate telepathically, but
        it is blind and deaf in regard to its physical senses and does not require
        food or water. The dragon can psionically observe a subject indefinitely and
        can end this effect and return to its own senses as an action."},{"name":"Innate
        Spellcasting","desc":"The dragons spellcasting ability is Charisma (save DC
        19). It can innately cast the following spells, requiring no material components.
        3/day each:calm emotions, charm person, mass suggestion, modify memory"}],"spell_list":[],"page_no":141,"img_main":null,"document__slug":"menagerie","document__title":"Level
        Up Advanced 5e Monstrous Menagerie OGL","document__license_url":"http://open5e.com/legal","document__url":"https://www.levelup5e.com"},{"slug":"adult-black-dragon-a5e","name":"Adult
        Black Dragon","size":"Huge","type":"Dragon","subtype":"","group":null,"alignment":"","armor_class":19,"armor_desc":"","hit_points":253,"hit_dice":"22d12+110","speed":{"walk":40,"fly":80,"swim":40},"strength":22,"dexterity":14,"constitution":20,"intelligence":14,"wisdom":12,"charisma":16,"strength_save":null,"dexterity_save":8,"constitution_save":11,"intelligence_save":null,"wisdom_save":7,"charisma_save":9,"perception":null,"skills":{},"damage_vulnerabilities":"","damage_resistances":"","damage_immunities":"acid","condition_immunities":"","senses":"blindsight
        60 ft., darkvision 120 ft., passive Perception 20","languages":"Common, Draconic","challenge_rating":"17","cr":17.0,"ac[...]
