---
http_interactions:
- request:
    method: get
    uri: https://api.open5e.com/monsters/?type=dragon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Do-App-Origin:
      - c12d71e9-9d94-4a56-a335-8e614fe33195
      X-Do-Orig-Status:
      - '200'
      Last-Modified:
      - Fri, 19 May 2023 13:19:04 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"count":125,"next":"https://api.open5e.com/monsters/?page=2&type=dragon","previous":null,"results":[{"slug":"adult-black-dragon","name":"Adult
        Black Dragon","size":"Huge","type":"dragon","subtype":"","group":"Black Dragon","alignment":"chaotic
        evil","armor_class":19,"armor_desc":"natural armor","hit_points":195,"hit_dice":"17d12+85","speed":{"walk":40,"fly":80,"swim":40},"strength":23,"dexterity":14,"constitution":21,"intelligence":14,"wisdom":13,"charisma":17,"strength_save":null,"dexterity_save":7,"constitution_save":10,"intelligence_save":null,"wisdom_save":6,"charisma_save":8,"perception":11,"skills":{"perception":11,"stealth":7},"damage_vulnerabilities":"","damage_resistances":"","damage_immunities":"acid","condition_immunities":"","senses":"blindsight
        60 ft., darkvision 120 ft., passive Perception 21","languages":"Common, Draconic","challenge_rating":"14","cr":14.0,"actions":[{"name":"Multiattack","desc":"The
        dragon can use its Frightful Presence. It then makes three attacks: one with
        its bite and two with its claws."},{"name":"Bite","desc":"Melee Weapon Attack:
        +11 to hit, reach 10 ft., one target. Hit: 17 (2d10 + 6) piercing damage plus
        4 (1d8) acid damage.","attack_bonus":11,"damage_dice":"2d10+1d8","damage_bonus":6},{"name":"Claw","desc":"Melee
        Weapon Attack: +11 to hit, reach 5 ft., one target. Hit: 13 (2d6 + 6) slashing
        damage.","attack_bonus":11,"damage_dice":"2d6","damage_bonus":6},{"name":"Tail","desc":"Melee
        Weapon Attack: +11 to hit, reach 15 ft., one target. Hit: 15 (2d8 + 6) bludgeoning
        damage.","attack_bonus":11,"damage_dice":"2d8","damage_bonus":6},{"name":"Frightful
        Presence","desc":"Each creature of the dragon''s choice that is within 120
        feet of the dragon and aware of it must succeed on a DC 16 Wisdom saving throw
        or become frightened for 1 minute. A creature can repeat the saving throw
        at the end of each of its turns, ending the effect on itself on a success.
        If a creature''s saving throw is successful or the effect ends for it, the
        creature is immune to the dragon''s Frightful Presence for the next 24 hours."},{"name":"Acid
        Breath (Recharge 5-6)","desc":"The dragon exhales acid in a 60-foot line that
        is 5 feet wide. Each creature in that line must make a DC 18 Dexterity saving
        throw, taking 54 (12d8) acid damage on a failed save, or half as much damage
        on a successful one.","attack_bonus":0,"damage_dice":"12d8"}],"reactions":"","legendary_desc":"The
        dragon can take 3 legendary actions, choosing from the options below. Only
        one legendary action option can be used at a time and only at the end of another
        creature''s turn. The dragon regains spent legendary actions at the start
        of its turn.","legendary_actions":[{"name":"Detect","desc":"The dragon makes
        a Wisdom (Perception) check."},{"name":"Tail Attack","desc":"The dragon makes
        a tail attack."},{"name":"Wing Attack (Costs 2 Actions)","desc":"The dragon
        beats its wings. Each creature within 10 ft. of the dragon must succeed on
        a DC 19 Dexterity saving throw or take 13 (2d6 + 6) bludgeoning damage and
        be knocked prone. The dragon can then fly up to half its flying speed."}],"special_abilities":[{"name":"Amphibious","desc":"The
        dragon can breathe air and water."},{"name":"Legendary Resistance (3/Day)","desc":"If
        the dragon fails a saving throw, it can choose to succeed instead."}],"spell_list":[],"page_no":281,"img_main":null,"document__slug":"wotc-srd","document__title":"Systems
        Reference Document","document__license_url":"http://open5e.com/legal","document__url":"http://dnd.wizards.com/articles/features/systems-reference-document-srd"},{"slug":"adult-blue-dragon","name":"Adult
        Blue Dragon","size":"Huge","type":"dragon","subtype":"","group":"Blue Dragon","alignment":"lawful
        evil","armor_class":19,"armor_desc":"natural armor","hit_points":225,"hit_dice":"18d12+108","speed":{"walk":40,"burrow":30,"fly":80},"strength":25,"dexterity":10,"constitution":23,"intelligence":16,"wisdom":15,"charisma":19,"strength_save":null,"dexterity_save":5,"constitution_save":11,"intelligence_save":null,"wisdom_save":7,"charisma_save":9,"perception":12,"skills":{"perception":12,"stealth":5},"damage_vulnerabilities":"","damage_resistances":"","damage_immunities":"lightning","condition_immunities":"","senses":"blindsight
        60 ft., darkvision 120 ft., passive Perception 22","languages":"Common, Draconic[...]
